body {
    background-color: DarkCyan ;
}

body{
background:url('orginal.jpg');background-repeat:no-repeat;background-size:100%, 100%;
}
 

h1, h2 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}


input[type="text"],input[type="email"], input[type="password"], input[type="number"] , select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


input[class=src] {
    width: 7.4%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



div {
	margin: auto;
	width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover:not(.active) {
    background-color: #111;
}



.active {
    background-color: #4CAF50;
}



.floating-box {
    float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 3px solid #73AD21;  
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}